h1 {
    font-family: 'Sniglet', cursive;
    font-size: 70px;
    text-align: center;
    padding: 20px;
    color: blueviolet;
    -webkit-text-stroke: 1px black;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid #6c757d;
    transition: all .5s;
}

img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

img:hover {
    transform: scale(1.1);
}

h3 {
    text-decoration: underline;
}

p {
    opacity: 1;
}

.btn {
    background-color: blueviolet;
    border: 1px solid black;
}

.btn:active, .btn-primary:active {
    background-color: rgb(155, 75, 230);
}

.btn:hover {
    background-color: rgb(124, 13, 228);
}

.bg-secondary {
    opacity: .60;
}

.row {
    width: 100%;
}

.crystals {

}

.records {
    font-family: 'Baloo Chettan', cursive;
    -webkit-text-stroke: 1px black;
    line-height: 1.6;
}

.score {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 1px black;
    padding: 20px;
    flex-direction: column;
}

#instructions {
    font-size: 24px;
}

#win, #loss, #scoreToMatch, .wins, .losses {
    font-size: 20px;
}

#win {
    color: green;
}

#loss {
    color: red;
}

#match {
    font-size: 36px;
}

#total, #winner, #loser {
    font-size: 40px;
}

#winner, #loser {
    color: green;
    -webkit-text-stroke: 1px black;
    margin-bottom: 1rem;
    font-family: 'Sniglet', cursive;
}

#loser {
    color: red;
}

@media screen and (max-width: 1200px) {   
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .container {
        margin: 0;
        max-width: 100%;
    }

    img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 150px;
        height: 150px;
    }

    .records {
        width: 100%;
        margin-left: 40px;
    }
}

@media screen and (max-width: 640px) {
    img {
        width: 100%;
        height: auto;
    }
}